@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";
@import "tailwindcss";
@plugin "daisyui";
/* ///////////////////////////
 */
/* যদি তুমি একটা default font ঠিক করতে চাও, যেমন সব text Lato হোক, তাহলে লিখো: */
@layer base {
  html {
    font-family: "Lato", sans-serif;
  }
}
/* ///////////////////////////// */
/* Custom font class বানানো (Optional, config ছাড়া) */

/* যদি তুমি চাই class দিয়ে Poppins বা Lato ব্যবহার করতে, index.css এ লিখো:  kintu 2 tai import korte hobe upore*/

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
